default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.4.4"
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: "24.8.0"
    hooks:
      - id: black
        args: ["--line-length=120", "--target-version=py310", "Backend/app"]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: "v5.10.1"
    hooks:
      - id: isort
        args: ["--overwrite-in-place"]
